.loading {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
}

footer {
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

.fs-large {
  font-size: 1.35rem;
}

.scale-1-and-half {
  transform: scale(1.5);
}

.scale-2 {
  transform: scale(2);
}

.scale-3 {
  transform: scale(3);
}

.text-body, p .text-primary, .logout-button, .toggle-auth, .pointer {
  cursor: pointer;
}

.middle-button, .left-button {
  margin: 0 1rem;
}

.list-to-add {
  max-height: 20vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* auth form */

.auth-form {
  width: 400px;
  margin: 0 auto;
}

/* workouts */

.start-section {
  align-items: center;
}

.workout-name {
  width: 290px;
}

.workout-type-holder {
  width: 190px;
}

.more-button {
  color: #428bca;
}

/* workout details */

.details-edit-button {
  height: fit-content;
}

/* exercises */

.exercise-description {
  margin-top: 10px;
}

@media (max-width: 900px) {
  /* workouts */

  .start-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .workout-name {
    width: fit-content;
  }
  
  .workout-type-holder {
    width: fit-content;
  }

  .button-holder {
    flex-direction: column;
  }

  .toggle-lists {
    margin-top: 20px;
  }

  .back-button-container {
    text-align: right;
  }
}

@media (max-width: 500px) {
  /* auth form */

  .auth-form {
    width: 100%;
  }

  .auth-button {
    width: 100%;
  }
}

